@-webkit-keyframes redflash {
  0%, 49% {
  }
  50%, 100% {
    background-color: #e50000;
  }
}
@-webkit-keyframes blinker {
  50% {
    opacity: 0.4;
  }
}
@keyframes timeout {
    0%   { color: white; }
    50%  { color: white; }
    100% { color: black; }
}
.timeout {    
    background-image:none !important; 
    animation: timeout 5s ease-in; 
}
@keyframes timeoutBG {
    0%   { background-color: currentColor; }
    50%  { background-color: currentColor; }
    100% { background-color: grey; }
}
.timeoutbg {
    background-image:none !important; 
    animation: timeout 5s ease-in; 
}
