.w3-theme-l5 {
  color: #000;
  background-color: #f4faf4; }

.w3-theme-l4 {
  color: #000;
  background-color: #dbefdc; }

.w3-theme-l3, .alert-editor input[type=number] {
  color: #000;
  background-color: #b7dfb8; }

.w3-theme-l2 {
  color: #000;
  background-color: #93cf95; }

.w3-theme-l1, .theme-active, .lcars-bar, .lcars-element .lcars-element-decorator, .lcars-text-box,
a.lcars-text-box, .alert-editor .table-row-a, .alert-editor .table-row-b {
  color: #000;
  background-color: #6ec071; }

.w3-theme-d1, .theme-passive, .lcars-elbow, .lcars-bar:empty, .lcars-bar.left-end.decorated:after, .lcars-bar.right-end.decorated:after, .lcars-element {
  color: #fff;
  background-color: #459c48; }

.w3-theme-d2 {
  color: #fff;
  background-color: #3d8b40; }

.w3-theme-d3 {
  color: #fff;
  background-color: #357a38; }

.w3-theme-d4 {
  color: #fff;
  background-color: #2e6830; }

.w3-theme-d5 {
  color: #fff;
  background-color: #265728; }

.w3-theme-light {
  color: #000;
  background-color: #f4faf4; }

.w3-theme-dark, .alert-editor {
  color: #fff;
  background-color: #265728; }

.w3-theme-action {
  color: #fff;
  background-color: #265728; }

.w3-theme {
  color: #fff;
  background-color: #4caf50; }

.w3-text-theme {
  color: #4caf50; }

.w3-border-theme {
  border-color: #4caf50; }

.w3-hover-theme:hover, div[onclick]:hover {
  color: #fff;
  background-color: #4caf50; }

.w3-hover-text-theme:hover {
  color: #4caf50; }

.w3-hover-border-theme:hover {
  border-color: #4caf50; }

.w3_alert {
  color: #000;
  background-color: #f00; }

@-webkit-keyframes redflash {
  50%, 100% {
    background-color: #e50000; } }
@-webkit-keyframes blinker {
  50% {
    opacity: 0.4; } }
html, body {
  height: 100%;
  overflow: hidden; }

.starboard::after {
  content: "&rarr;"; }

.theme-active-alert, .theme-active-alarm {
  animation: blinker 1s linear infinite; }

.theme-active-alarm {
  color: red; }

.lcars-alarm {
  animation: redflash 1s linear infinite; }

.lcars-flash {
  animation: blinker 1s linear infinite; }

.lcars-missing-data {
  color: orange !important;
  animation: blinker 1s linear infinite; }

.lcars-alarmlo, .lcars-alarmhi {
  border-bottom: 2px solid red !important; }

.lcars-selected .lcars-label {
  color: white !important; }

.lcars-p-1 {
  width: 2px !important; }

.clickfree {
  pointer-events: none; }

.lcars-label {
  position: absolute;
  box-sizing: border-box;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding-top: 4px;
  pointer-events: none; }

.lcars-vbar {
  position: absolute;
  box-sizing: border-box;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50%;
  border-top: 2px solid orange;
  pointer-events: none; }

html,
body {
  font-family: "arial", monospace;
  color: #fff; }

h1 {
  font-size: 270%;
  font-weight: bold; }

h2 {
  font-size: 240%;
  font-weight: bold; }

h3 {
  font-size: 200%;
  font-weight: bold; }

h4 {
  font-size: 180%;
  font-weight: bold; }

h5 {
  font-size: 160%;
  font-weight: bold; }

h6 {
  font-size: 140%;
  font-weight: bold; }

.lcars-app-container {
  display: flex;
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  overflow: hidden;
  margin: 0.5rem; }

.lcars-app-container #left-menu {
  position: fixed;
  padding-top: 4.5rem;
  height: 100%;
  left: 0.5rem; }

.lcars-app-container #header {
  position: fixed;
  background-color: #000;
  width: calc(100% - 1rem);
  top: 0;
  left: 0.5rem;
  padding-top: 0.5rem;
  margin-bottom: 0.25rem;
  z-index: 1; }

.lcars-app-container #footer {
  position: fixed;
  background-color: #000;
  bottom: 0;
  left: 0.5rem;
  padding-bottom: 0.5rem;
  width: calc(100% - 1rem);
  z-index: 1; }

.lcars-app-container #container {
  margin-top: 0.25rem;
  margin-left: 0.25rem;
  padding-left: 9.5rem;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  width: 100%;
  height: 100%;
  overflow: auto; }

.lcars-elbow {
  position: relative;
  width: 9.5rem;
  min-width: 9.5rem;
  height: 4.5rem;
  min-height: 4.5rem;
  margin: 0; }

.lcars-elbow a {
  display: inline-block;
  position: absolute;
  color: #000;
  bottom: 0;
  padding: 0.25rem; }

.lcars-elbow:after {
  content: '';
  display: block;
  position: absolute;
  width: 2rem;
  height: 3rem;
  background: #000; }

.lcars-elbow.left-bottom {
  border-top-left-radius: 3.75rem; }

.lcars-elbow.left-bottom a {
  right: 2.25rem; }

.lcars-elbow.left-bottom:after {
  right: 0;
  top: 1.5rem;
  border-top-left-radius: 1.875rem; }

.lcars-elbow.left-top {
  border-bottom-left-radius: 3.75rem; }

.lcars-elbow.left-top a {
  top: 0;
  right: 2.25rem; }

.lcars-elbow.left-top:after {
  right: 0;
  bottom: 1.5rem;
  border-bottom-left-radius: 3.75rem; }

.lcars-elbow.right-bottom {
  border-top-right-radius: 3.75rem; }

.lcars-elbow.right-bottom:after {
  top: 1.5rem;
  border-top-right-radius: 1.875rem; }

.lcars-elbow.right-bottom a {
  left: 2.25rem; }

.lcars-elbow.right-top {
  border-bottom-right-radius: 3.75rem; }

.lcars-elbow.right-top a {
  display: inline-block;
  top: 0;
  left: 2.25rem; }

.lcars-elbow.right-top:after {
  bottom: 1.5rem;
  border-bottom-right-radius: 1.875rem; }

.lcars-bar {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  display: inline-block;
  text-align: center;
  font-weight: bold; }

.lcars-bar:after {
  content: '';
  display: block;
  position: absolute;
  background: #000; }

.lcars-bar.spacer {
  margin: 0;
  padding: 0;
  background-color: transparent !important;
  width: 0.25rem;
  min-width: 0.25rem;
  height: 0.25rem;
  min-height: 0.25rem; }

.lcars-bar.double-spacer {
  background-color: transparent;
  width: 0.5rem;
  min-width: 0.5rem;
  height: 0.5rem;
  min-height: 0.5rem; }

.lcars-bar.left-space {
  margin-left: 0.25rem; }

.lcars-bar.left-double-space {
  margin-left: 0.5rem; }

.lcars-bar.right-space {
  margin-right: 0.25rem; }

.lcars-bar.right-double-space {
  margin-right: 0.5rem; }

.lcars-bar.horizontal {
  height: 1.5rem; }

.lcars-bar.left-end {
  width: 1.5rem;
  max-width: 1.5rem;
  min-width: 1.5rem;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem; }

.lcars-bar.left-end.decorated:after {
  right: 0.25rem;
  width: 0.25rem;
  height: 100%; }

.lcars-bar.right-end {
  width: 1.5rem;
  max-width: 1.5rem;
  min-width: 1.5rem;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem; }

.lcars-bar.right-end.decorated:after {
  left: 0.25rem;
  width: 0.25rem;
  height: 100%; }

.lcars-bar.fill {
  flex: 1; }

.lcars-bar.bottom {
  align-self: flex-end; }

.lcars-title {
  background-color: #000;
  color: #fff; }

.lcars-bar .lcars-title-small {
  text-transform: uppercase;
  margin: 0;
  margin-top: 0.16666666666667rem;
  padding-left: 0.166666666666667rem;
  padding-right: 0.166666666666667rem;
  padding-bottom: 0.166666666666667rem;
  display: inline-block;
  font-size: 100%;
  height: 100%; }

.lcars-bar .lcars-title {
  text-transform: uppercase;
  margin: 0;
  margin-left: 0.833333333333335rem;
  padding-left: 0.166666666666667rem;
  padding-right: 0.166666666666667rem;
  padding-bottom: 0.166666666666667rem;
  display: inline-block;
  font-size: 150%;
  height: 100%; }

.lcars-bar .lcars-title.right {
  float: right;
  margin-right: 0.833333333333335rem; }

.lcars-element {
  position: relative;
  font-weight: bold;
  text-align: right;
  height: 3rem;
  width: 7.5rem;
  box-sizing: border-box;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end; }

.lcars-element * {
  margin: 0; }

.lcars-element.left-rounded {
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  padding-left: 1.5rem; }

.lcars-element.right-rounded {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  padding-right: 1.5rem; }

.lcars-element.rounded {
  border-radius: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.lcars-element.button {
  cursor: pointer; }

.lcars-element.button:active {
  background-color: var(--buttonactive); }

.lcars-element .lcars-element-addition {
  background-color: #000 !important;
  color: #fff !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  font-size: 2.000000000000001rem;
  margin-left: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem; }

.lcars-element .lcars-element-decorator {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 2rem;
  left: -2.25rem;
  height: 100%;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem; }

.lcars-element .lcars-element-decorator:after {
  content: '';
  display: block;
  position: absolute;
  right: 0.25rem;
  width: 0.25rem;
  height: 100%;
  background-color: var(--textbg); }

.lcars-element .lcars-element-decorator.right {
  right: -2.25rem;
  left: unset;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.lcars-element .lcars-element-decorator.right:after {
  left: 0.25rem;
  right: unset; }

.lcars-element.content-left {
  text-align: left; }

.lcars-text-box,
a.lcars-text-box {
  font-weight: bold;
  width: 7.5rem;
  height: 1.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row; }

.lcars-text-box.med,
a.lcars-text-box.med {
  font-size: 120%; }

.lcars-text-box.big,
a.lcars-text-box.big {
  font-size: 150%; }

.lcars-text-box.large,
a.lcars-text-box.large {
  font-size: 200%; }

.lcars-text-box.huge,
a.lcars-text-box.huge {
  font-size: 400%;
  height: 6rem; }

.lcars-text-box.centered,
a.lcars-text-box.centered {
  justify-content: center; }

.lcars-text-box.right,
a.lcars-text-box.right {
  justify-content: flex-end; }

.lcars-text-box.full-centered,
a.lcars-text-box.full-centered {
  justify-content: center;
  align-items: center; }

.lcars-text-box.centered-right,
a.lcars-text-box.centered-right {
  justify-content: flex-end;
  align-items: center; }

.lcars-text-box.bottom,
a.lcars-text-box.bottom {
  align-items: flex-end; }

.lcars-text-box.bottom-centered,
a.lcars-text-box.bottom-centered {
  justify-content: center;
  align-items: flex-end; }

.lcars-text-box.bottom-right,
a.lcars-text-box.bottom-right {
  justify-content: flex-end;
  align-items: flex-end; }

.lcars-text-box.blink,
a.lcars-text-box.blink {
  animation: blinker 1s linear infinite; }

.lcars-text-box.passive {
  color: white; }

.lcars-bracket {
  background-color: var(--dark); }

.lcars-bracket.left {
  width: 1.5rem;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  border-width: 0.75rem 0 0.75rem 0.25rem; }

.lcars-bracket.right {
  width: 1.5rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border-width: 0.75rem 0.25rem 0.75rem 0; }

.lcars-bracket.top {
  height: 1.5rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  border-width: 0.25rem 0.75rem 0 0.75rem; }

.lcars-bracket.bottom {
  height: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border-width: 0 0.75rem 0.25rem 0.75rem; }

.lcars-bracket.hollow {
  background-color: #000;
  border-style: solid;
  border-color: var(--dark); }

.lcars-row {
  display: inline-flex;
  flex-direction: row;
  width: 100%; }

.lcars-row.fill {
  flex: 1; }

.lcars-row.centered {
  justify-content: center; }

.lcars-row.full-centered {
  justify-content: center;
  align-items: center; }

.lcars-row.right {
  justify-content: flex-end; }

.lcars-row.right-centered {
  justify-content: flex-end;
  align-items: center; }

.lcars-row.right-bottom {
  justify-content: flex-end;
  align-items: flex-end; }

.lcars-row :last-child {
  margin-right: 0; }

.lcars-row > * {
  margin-right: 0rem; }

.lcars-column {
  display: inline-flex;
  flex-direction: column; }

.lcars-column.fill {
  flex: 1; }

.lcars-column.centered {
  justify-content: center; }

.lcars-column.full-centered {
  justify-content: center;
  align-items: center; }

.lcars-column.centered-right {
  justify-content: center;
  align-items: flex-end; }

.lcars-column.bottom {
  justify-content: flex-end; }

.lcars-column.bottom-centered {
  justify-content: flex-end;
  align-items: center; }

.lcars-column :last-child {
  margin-bottom: 0; }

.lcars-column > * {
  margin-bottom: 0.25rem; }

.lcars-column.left-menu {
  padding-right: 2rem; }

.lcars-column.right-menu {
  padding-left: 2rem; }

.lcars-column.start-space {
  margin-top: 0.25rem; }

.lcars-u-1-1 {
  width: 7.5rem;
  min-width: 7.5rem;
  height: 3rem;
  min-height: 3rem; }

.lcars-u-1-1-half {
  width: 7.5rem;
  min-width: 7.5rem;
  height: 4.5rem;
  min-height: 4.5rem; }

.lcars-vu-1 {
  width: 3rem; }

.lcars-vu-1-half {
  width: 4.5rem; }

.lcars-u-1-2 {
  width: 7.5rem;
  min-width: 7.5rem;
  height: 6rem;
  min-height: 6rem; }

.lcars-u-1-2-half {
  width: 7.5rem;
  min-width: 7.5rem;
  height: 7.5rem;
  min-height: 7.5rem; }

.lcars-vu-2 {
  width: 6rem; }

.lcars-vu-2-half {
  width: 7.5rem; }

.lcars-u-1-3 {
  width: 7.5rem;
  min-width: 7.5rem;
  height: 9rem;
  min-height: 9rem; }

.lcars-u-1-3-half {
  width: 7.5rem;
  min-width: 7.5rem;
  height: 10.5rem;
  min-height: 10.5rem; }

.lcars-vu-3 {
  width: 9rem; }

.lcars-vu-3-half {
  width: 10.5rem; }

.lcars-u-1-4 {
  width: 7.5rem;
  min-width: 7.5rem;
  height: 12rem;
  min-height: 12rem; }

.lcars-u-1-4-half {
  width: 7.5rem;
  min-width: 7.5rem;
  height: 13.5rem;
  min-height: 13.5rem; }

.lcars-vu-4 {
  width: 12rem; }

.lcars-vu-4-half {
  width: 13.5rem; }

.lcars-u-1-5 {
  width: 7.5rem;
  min-width: 7.5rem;
  height: 15rem;
  min-height: 15rem; }

.lcars-u-1-5-half {
  width: 7.5rem;
  min-width: 7.5rem;
  height: 16.5rem;
  min-height: 16.5rem; }

.lcars-vu-5 {
  width: 15rem; }

.lcars-vu-5-half {
  width: 16.5rem; }

.lcars-u-1-6 {
  width: 7.5rem;
  min-width: 7.5rem;
  height: 18rem;
  min-height: 18rem; }

.lcars-u-1-6-half {
  width: 7.5rem;
  min-width: 7.5rem;
  height: 19.5rem;
  min-height: 19.5rem; }

.lcars-vu-6 {
  width: 18rem; }

.lcars-vu-6-half {
  width: 19.5rem; }

.lcars-u-1-7 {
  width: 7.5rem;
  min-width: 7.5rem;
  height: 21rem;
  min-height: 21rem; }

.lcars-u-1-7-half {
  width: 7.5rem;
  min-width: 7.5rem;
  height: 22.5rem;
  min-height: 22.5rem; }

.lcars-vu-7 {
  width: 21rem; }

.lcars-vu-7-half {
  width: 22.5rem; }

.lcars-u-1-8 {
  width: 7.5rem;
  min-width: 7.5rem;
  height: 24rem;
  min-height: 24rem; }

.lcars-u-1-8-half {
  width: 7.5rem;
  min-width: 7.5rem;
  height: 25.5rem;
  min-height: 25.5rem; }

.lcars-vu-8 {
  width: 24rem; }

.lcars-vu-8-half {
  width: 25.5rem; }

.lcars-u-1 {
  width: 7.5rem;
  min-width: 7.5rem; }

.lcars-u-1-half {
  width: 11.25rem;
  min-width: 11.25rem; }

.lcars-u-2-1 {
  width: 15rem;
  min-width: 15rem;
  height: 3rem;
  min-height: 3rem; }

.lcars-u-2-1-half {
  width: 15rem;
  min-width: 15rem;
  height: 4.5rem;
  min-height: 4.5rem; }

.lcars-vu-1 {
  width: 3rem; }

.lcars-vu-1-half {
  width: 4.5rem; }

.lcars-u-2-2 {
  width: 15rem;
  min-width: 15rem;
  height: 6rem;
  min-height: 6rem; }

.lcars-u-2-2-half {
  width: 15rem;
  min-width: 15rem;
  height: 7.5rem;
  min-height: 7.5rem; }

.lcars-vu-2 {
  width: 6rem; }

.lcars-vu-2-half {
  width: 7.5rem; }

.lcars-u-2-3 {
  width: 15rem;
  min-width: 15rem;
  height: 9rem;
  min-height: 9rem; }

.lcars-u-2-3-half {
  width: 15rem;
  min-width: 15rem;
  height: 10.5rem;
  min-height: 10.5rem; }

.lcars-vu-3 {
  width: 9rem; }

.lcars-vu-3-half {
  width: 10.5rem; }

.lcars-u-2-4 {
  width: 15rem;
  min-width: 15rem;
  height: 12rem;
  min-height: 12rem; }

.lcars-u-2-4-half {
  width: 15rem;
  min-width: 15rem;
  height: 13.5rem;
  min-height: 13.5rem; }

.lcars-vu-4 {
  width: 12rem; }

.lcars-vu-4-half {
  width: 13.5rem; }

.lcars-u-2-5 {
  width: 15rem;
  min-width: 15rem;
  height: 15rem;
  min-height: 15rem; }

.lcars-u-2-5-half {
  width: 15rem;
  min-width: 15rem;
  height: 16.5rem;
  min-height: 16.5rem; }

.lcars-vu-5 {
  width: 15rem; }

.lcars-vu-5-half {
  width: 16.5rem; }

.lcars-u-2-6 {
  width: 15rem;
  min-width: 15rem;
  height: 18rem;
  min-height: 18rem; }

.lcars-u-2-6-half {
  width: 15rem;
  min-width: 15rem;
  height: 19.5rem;
  min-height: 19.5rem; }

.lcars-vu-6 {
  width: 18rem; }

.lcars-vu-6-half {
  width: 19.5rem; }

.lcars-u-2-7 {
  width: 15rem;
  min-width: 15rem;
  height: 21rem;
  min-height: 21rem; }

.lcars-u-2-7-half {
  width: 15rem;
  min-width: 15rem;
  height: 22.5rem;
  min-height: 22.5rem; }

.lcars-vu-7 {
  width: 21rem; }

.lcars-vu-7-half {
  width: 22.5rem; }

.lcars-u-2-8 {
  width: 15rem;
  min-width: 15rem;
  height: 24rem;
  min-height: 24rem; }

.lcars-u-2-8-half {
  width: 15rem;
  min-width: 15rem;
  height: 25.5rem;
  min-height: 25.5rem; }

.lcars-vu-8 {
  width: 24rem; }

.lcars-vu-8-half {
  width: 25.5rem; }

.lcars-u-2 {
  width: 15rem;
  min-width: 15rem; }

.lcars-u-2-half {
  width: 18.75rem;
  min-width: 18.75rem; }

.lcars-u-3-1 {
  width: 22.5rem;
  min-width: 22.5rem;
  height: 3rem;
  min-height: 3rem; }

.lcars-u-3-1-half {
  width: 22.5rem;
  min-width: 22.5rem;
  height: 4.5rem;
  min-height: 4.5rem; }

.lcars-vu-1 {
  width: 3rem; }

.lcars-vu-1-half {
  width: 4.5rem; }

.lcars-u-3-2 {
  width: 22.5rem;
  min-width: 22.5rem;
  height: 6rem;
  min-height: 6rem; }

.lcars-u-3-2-half {
  width: 22.5rem;
  min-width: 22.5rem;
  height: 7.5rem;
  min-height: 7.5rem; }

.lcars-vu-2 {
  width: 6rem; }

.lcars-vu-2-half {
  width: 7.5rem; }

.lcars-u-3-3 {
  width: 22.5rem;
  min-width: 22.5rem;
  height: 9rem;
  min-height: 9rem; }

.lcars-u-3-3-half {
  width: 22.5rem;
  min-width: 22.5rem;
  height: 10.5rem;
  min-height: 10.5rem; }

.lcars-vu-3 {
  width: 9rem; }

.lcars-vu-3-half {
  width: 10.5rem; }

.lcars-u-3-4 {
  width: 22.5rem;
  min-width: 22.5rem;
  height: 12rem;
  min-height: 12rem; }

.lcars-u-3-4-half {
  width: 22.5rem;
  min-width: 22.5rem;
  height: 13.5rem;
  min-height: 13.5rem; }

.lcars-vu-4 {
  width: 12rem; }

.lcars-vu-4-half {
  width: 13.5rem; }

.lcars-u-3-5 {
  width: 22.5rem;
  min-width: 22.5rem;
  height: 15rem;
  min-height: 15rem; }

.lcars-u-3-5-half {
  width: 22.5rem;
  min-width: 22.5rem;
  height: 16.5rem;
  min-height: 16.5rem; }

.lcars-vu-5 {
  width: 15rem; }

.lcars-vu-5-half {
  width: 16.5rem; }

.lcars-u-3-6 {
  width: 22.5rem;
  min-width: 22.5rem;
  height: 18rem;
  min-height: 18rem; }

.lcars-u-3-6-half {
  width: 22.5rem;
  min-width: 22.5rem;
  height: 19.5rem;
  min-height: 19.5rem; }

.lcars-vu-6 {
  width: 18rem; }

.lcars-vu-6-half {
  width: 19.5rem; }

.lcars-u-3-7 {
  width: 22.5rem;
  min-width: 22.5rem;
  height: 21rem;
  min-height: 21rem; }

.lcars-u-3-7-half {
  width: 22.5rem;
  min-width: 22.5rem;
  height: 22.5rem;
  min-height: 22.5rem; }

.lcars-vu-7 {
  width: 21rem; }

.lcars-vu-7-half {
  width: 22.5rem; }

.lcars-u-3-8 {
  width: 22.5rem;
  min-width: 22.5rem;
  height: 24rem;
  min-height: 24rem; }

.lcars-u-3-8-half {
  width: 22.5rem;
  min-width: 22.5rem;
  height: 25.5rem;
  min-height: 25.5rem; }

.lcars-vu-8 {
  width: 24rem; }

.lcars-vu-8-half {
  width: 25.5rem; }

.lcars-u-3 {
  width: 22.5rem;
  min-width: 22.5rem; }

.lcars-u-3-half {
  width: 26.25rem;
  min-width: 26.25rem; }

.lcars-u-4-1 {
  width: 30rem;
  min-width: 30rem;
  height: 3rem;
  min-height: 3rem; }

.lcars-u-4-1-half {
  width: 30rem;
  min-width: 30rem;
  height: 4.5rem;
  min-height: 4.5rem; }

.lcars-vu-1 {
  width: 3rem; }

.lcars-vu-1-half {
  width: 4.5rem; }

.lcars-u-4-2 {
  width: 30rem;
  min-width: 30rem;
  height: 6rem;
  min-height: 6rem; }

.lcars-u-4-2-half {
  width: 30rem;
  min-width: 30rem;
  height: 7.5rem;
  min-height: 7.5rem; }

.lcars-vu-2 {
  width: 6rem; }

.lcars-vu-2-half {
  width: 7.5rem; }

.lcars-u-4-3 {
  width: 30rem;
  min-width: 30rem;
  height: 9rem;
  min-height: 9rem; }

.lcars-u-4-3-half {
  width: 30rem;
  min-width: 30rem;
  height: 10.5rem;
  min-height: 10.5rem; }

.lcars-vu-3 {
  width: 9rem; }

.lcars-vu-3-half {
  width: 10.5rem; }

.lcars-u-4-4 {
  width: 30rem;
  min-width: 30rem;
  height: 12rem;
  min-height: 12rem; }

.lcars-u-4-4-half {
  width: 30rem;
  min-width: 30rem;
  height: 13.5rem;
  min-height: 13.5rem; }

.lcars-vu-4 {
  width: 12rem; }

.lcars-vu-4-half {
  width: 13.5rem; }

.lcars-u-4-5 {
  width: 30rem;
  min-width: 30rem;
  height: 15rem;
  min-height: 15rem; }

.lcars-u-4-5-half {
  width: 30rem;
  min-width: 30rem;
  height: 16.5rem;
  min-height: 16.5rem; }

.lcars-vu-5 {
  width: 15rem; }

.lcars-vu-5-half {
  width: 16.5rem; }

.lcars-u-4-6 {
  width: 30rem;
  min-width: 30rem;
  height: 18rem;
  min-height: 18rem; }

.lcars-u-4-6-half {
  width: 30rem;
  min-width: 30rem;
  height: 19.5rem;
  min-height: 19.5rem; }

.lcars-vu-6 {
  width: 18rem; }

.lcars-vu-6-half {
  width: 19.5rem; }

.lcars-u-4-7 {
  width: 30rem;
  min-width: 30rem;
  height: 21rem;
  min-height: 21rem; }

.lcars-u-4-7-half {
  width: 30rem;
  min-width: 30rem;
  height: 22.5rem;
  min-height: 22.5rem; }

.lcars-vu-7 {
  width: 21rem; }

.lcars-vu-7-half {
  width: 22.5rem; }

.lcars-u-4-8 {
  width: 30rem;
  min-width: 30rem;
  height: 24rem;
  min-height: 24rem; }

.lcars-u-4-8-half {
  width: 30rem;
  min-width: 30rem;
  height: 25.5rem;
  min-height: 25.5rem; }

.lcars-vu-8 {
  width: 24rem; }

.lcars-vu-8-half {
  width: 25.5rem; }

.lcars-u-4 {
  width: 30rem;
  min-width: 30rem; }

.lcars-u-4-half {
  width: 33.75rem;
  min-width: 33.75rem; }

.lcars-u-5-1 {
  width: 37.5rem;
  min-width: 37.5rem;
  height: 3rem;
  min-height: 3rem; }

.lcars-u-5-1-half {
  width: 37.5rem;
  min-width: 37.5rem;
  height: 4.5rem;
  min-height: 4.5rem; }

.lcars-vu-1 {
  width: 3rem; }

.lcars-vu-1-half {
  width: 4.5rem; }

.lcars-u-5-2 {
  width: 37.5rem;
  min-width: 37.5rem;
  height: 6rem;
  min-height: 6rem; }

.lcars-u-5-2-half {
  width: 37.5rem;
  min-width: 37.5rem;
  height: 7.5rem;
  min-height: 7.5rem; }

.lcars-vu-2 {
  width: 6rem; }

.lcars-vu-2-half {
  width: 7.5rem; }

.lcars-u-5-3 {
  width: 37.5rem;
  min-width: 37.5rem;
  height: 9rem;
  min-height: 9rem; }

.lcars-u-5-3-half {
  width: 37.5rem;
  min-width: 37.5rem;
  height: 10.5rem;
  min-height: 10.5rem; }

.lcars-vu-3 {
  width: 9rem; }

.lcars-vu-3-half {
  width: 10.5rem; }

.lcars-u-5-4 {
  width: 37.5rem;
  min-width: 37.5rem;
  height: 12rem;
  min-height: 12rem; }

.lcars-u-5-4-half {
  width: 37.5rem;
  min-width: 37.5rem;
  height: 13.5rem;
  min-height: 13.5rem; }

.lcars-vu-4 {
  width: 12rem; }

.lcars-vu-4-half {
  width: 13.5rem; }

.lcars-u-5-5 {
  width: 37.5rem;
  min-width: 37.5rem;
  height: 15rem;
  min-height: 15rem; }

.lcars-u-5-5-half {
  width: 37.5rem;
  min-width: 37.5rem;
  height: 16.5rem;
  min-height: 16.5rem; }

.lcars-vu-5 {
  width: 15rem; }

.lcars-vu-5-half {
  width: 16.5rem; }

.lcars-u-5-6 {
  width: 37.5rem;
  min-width: 37.5rem;
  height: 18rem;
  min-height: 18rem; }

.lcars-u-5-6-half {
  width: 37.5rem;
  min-width: 37.5rem;
  height: 19.5rem;
  min-height: 19.5rem; }

.lcars-vu-6 {
  width: 18rem; }

.lcars-vu-6-half {
  width: 19.5rem; }

.lcars-u-5-7 {
  width: 37.5rem;
  min-width: 37.5rem;
  height: 21rem;
  min-height: 21rem; }

.lcars-u-5-7-half {
  width: 37.5rem;
  min-width: 37.5rem;
  height: 22.5rem;
  min-height: 22.5rem; }

.lcars-vu-7 {
  width: 21rem; }

.lcars-vu-7-half {
  width: 22.5rem; }

.lcars-u-5-8 {
  width: 37.5rem;
  min-width: 37.5rem;
  height: 24rem;
  min-height: 24rem; }

.lcars-u-5-8-half {
  width: 37.5rem;
  min-width: 37.5rem;
  height: 25.5rem;
  min-height: 25.5rem; }

.lcars-vu-8 {
  width: 24rem; }

.lcars-vu-8-half {
  width: 25.5rem; }

.lcars-u-5 {
  width: 37.5rem;
  min-width: 37.5rem; }

.lcars-u-5-half {
  width: 41.25rem;
  min-width: 41.25rem; }

.lcars-u-6-1 {
  width: 45rem;
  min-width: 45rem;
  height: 3rem;
  min-height: 3rem; }

.lcars-u-6-1-half {
  width: 45rem;
  min-width: 45rem;
  height: 4.5rem;
  min-height: 4.5rem; }

.lcars-vu-1 {
  width: 3rem; }

.lcars-vu-1-half {
  width: 4.5rem; }

.lcars-u-6-2 {
  width: 45rem;
  min-width: 45rem;
  height: 6rem;
  min-height: 6rem; }

.lcars-u-6-2-half {
  width: 45rem;
  min-width: 45rem;
  height: 7.5rem;
  min-height: 7.5rem; }

.lcars-vu-2 {
  width: 6rem; }

.lcars-vu-2-half {
  width: 7.5rem; }

.lcars-u-6-3 {
  width: 45rem;
  min-width: 45rem;
  height: 9rem;
  min-height: 9rem; }

.lcars-u-6-3-half {
  width: 45rem;
  min-width: 45rem;
  height: 10.5rem;
  min-height: 10.5rem; }

.lcars-vu-3 {
  width: 9rem; }

.lcars-vu-3-half {
  width: 10.5rem; }

.lcars-u-6-4 {
  width: 45rem;
  min-width: 45rem;
  height: 12rem;
  min-height: 12rem; }

.lcars-u-6-4-half {
  width: 45rem;
  min-width: 45rem;
  height: 13.5rem;
  min-height: 13.5rem; }

.lcars-vu-4 {
  width: 12rem; }

.lcars-vu-4-half {
  width: 13.5rem; }

.lcars-u-6-5 {
  width: 45rem;
  min-width: 45rem;
  height: 15rem;
  min-height: 15rem; }

.lcars-u-6-5-half {
  width: 45rem;
  min-width: 45rem;
  height: 16.5rem;
  min-height: 16.5rem; }

.lcars-vu-5 {
  width: 15rem; }

.lcars-vu-5-half {
  width: 16.5rem; }

.lcars-u-6-6 {
  width: 45rem;
  min-width: 45rem;
  height: 18rem;
  min-height: 18rem; }

.lcars-u-6-6-half {
  width: 45rem;
  min-width: 45rem;
  height: 19.5rem;
  min-height: 19.5rem; }

.lcars-vu-6 {
  width: 18rem; }

.lcars-vu-6-half {
  width: 19.5rem; }

.lcars-u-6-7 {
  width: 45rem;
  min-width: 45rem;
  height: 21rem;
  min-height: 21rem; }

.lcars-u-6-7-half {
  width: 45rem;
  min-width: 45rem;
  height: 22.5rem;
  min-height: 22.5rem; }

.lcars-vu-7 {
  width: 21rem; }

.lcars-vu-7-half {
  width: 22.5rem; }

.lcars-u-6-8 {
  width: 45rem;
  min-width: 45rem;
  height: 24rem;
  min-height: 24rem; }

.lcars-u-6-8-half {
  width: 45rem;
  min-width: 45rem;
  height: 25.5rem;
  min-height: 25.5rem; }

.lcars-vu-8 {
  width: 24rem; }

.lcars-vu-8-half {
  width: 25.5rem; }

.lcars-u-6 {
  width: 45rem;
  min-width: 45rem; }

.lcars-u-6-half {
  width: 48.75rem;
  min-width: 48.75rem; }

.lcars-u-7-1 {
  width: 52.5rem;
  min-width: 52.5rem;
  height: 3rem;
  min-height: 3rem; }

.lcars-u-7-1-half {
  width: 52.5rem;
  min-width: 52.5rem;
  height: 4.5rem;
  min-height: 4.5rem; }

.lcars-vu-1 {
  width: 3rem; }

.lcars-vu-1-half {
  width: 4.5rem; }

.lcars-u-7-2 {
  width: 52.5rem;
  min-width: 52.5rem;
  height: 6rem;
  min-height: 6rem; }

.lcars-u-7-2-half {
  width: 52.5rem;
  min-width: 52.5rem;
  height: 7.5rem;
  min-height: 7.5rem; }

.lcars-vu-2 {
  width: 6rem; }

.lcars-vu-2-half {
  width: 7.5rem; }

.lcars-u-7-3 {
  width: 52.5rem;
  min-width: 52.5rem;
  height: 9rem;
  min-height: 9rem; }

.lcars-u-7-3-half {
  width: 52.5rem;
  min-width: 52.5rem;
  height: 10.5rem;
  min-height: 10.5rem; }

.lcars-vu-3 {
  width: 9rem; }

.lcars-vu-3-half {
  width: 10.5rem; }

.lcars-u-7-4 {
  width: 52.5rem;
  min-width: 52.5rem;
  height: 12rem;
  min-height: 12rem; }

.lcars-u-7-4-half {
  width: 52.5rem;
  min-width: 52.5rem;
  height: 13.5rem;
  min-height: 13.5rem; }

.lcars-vu-4 {
  width: 12rem; }

.lcars-vu-4-half {
  width: 13.5rem; }

.lcars-u-7-5 {
  width: 52.5rem;
  min-width: 52.5rem;
  height: 15rem;
  min-height: 15rem; }

.lcars-u-7-5-half {
  width: 52.5rem;
  min-width: 52.5rem;
  height: 16.5rem;
  min-height: 16.5rem; }

.lcars-vu-5 {
  width: 15rem; }

.lcars-vu-5-half {
  width: 16.5rem; }

.lcars-u-7-6 {
  width: 52.5rem;
  min-width: 52.5rem;
  height: 18rem;
  min-height: 18rem; }

.lcars-u-7-6-half {
  width: 52.5rem;
  min-width: 52.5rem;
  height: 19.5rem;
  min-height: 19.5rem; }

.lcars-vu-6 {
  width: 18rem; }

.lcars-vu-6-half {
  width: 19.5rem; }

.lcars-u-7-7 {
  width: 52.5rem;
  min-width: 52.5rem;
  height: 21rem;
  min-height: 21rem; }

.lcars-u-7-7-half {
  width: 52.5rem;
  min-width: 52.5rem;
  height: 22.5rem;
  min-height: 22.5rem; }

.lcars-vu-7 {
  width: 21rem; }

.lcars-vu-7-half {
  width: 22.5rem; }

.lcars-u-7-8 {
  width: 52.5rem;
  min-width: 52.5rem;
  height: 24rem;
  min-height: 24rem; }

.lcars-u-7-8-half {
  width: 52.5rem;
  min-width: 52.5rem;
  height: 25.5rem;
  min-height: 25.5rem; }

.lcars-vu-8 {
  width: 24rem; }

.lcars-vu-8-half {
  width: 25.5rem; }

.lcars-u-7 {
  width: 52.5rem;
  min-width: 52.5rem; }

.lcars-u-7-half {
  width: 56.25rem;
  min-width: 56.25rem; }

.lcars-u-8-1 {
  width: 60rem;
  min-width: 60rem;
  height: 3rem;
  min-height: 3rem; }

.lcars-u-8-1-half {
  width: 60rem;
  min-width: 60rem;
  height: 4.5rem;
  min-height: 4.5rem; }

.lcars-vu-1 {
  width: 3rem; }

.lcars-vu-1-half {
  width: 4.5rem; }

.lcars-u-8-2 {
  width: 60rem;
  min-width: 60rem;
  height: 6rem;
  min-height: 6rem; }

.lcars-u-8-2-half {
  width: 60rem;
  min-width: 60rem;
  height: 7.5rem;
  min-height: 7.5rem; }

.lcars-vu-2 {
  width: 6rem; }

.lcars-vu-2-half {
  width: 7.5rem; }

.lcars-u-8-3 {
  width: 60rem;
  min-width: 60rem;
  height: 9rem;
  min-height: 9rem; }

.lcars-u-8-3-half {
  width: 60rem;
  min-width: 60rem;
  height: 10.5rem;
  min-height: 10.5rem; }

.lcars-vu-3 {
  width: 9rem; }

.lcars-vu-3-half {
  width: 10.5rem; }

.lcars-u-8-4 {
  width: 60rem;
  min-width: 60rem;
  height: 12rem;
  min-height: 12rem; }

.lcars-u-8-4-half {
  width: 60rem;
  min-width: 60rem;
  height: 13.5rem;
  min-height: 13.5rem; }

.lcars-vu-4 {
  width: 12rem; }

.lcars-vu-4-half {
  width: 13.5rem; }

.lcars-u-8-5 {
  width: 60rem;
  min-width: 60rem;
  height: 15rem;
  min-height: 15rem; }

.lcars-u-8-5-half {
  width: 60rem;
  min-width: 60rem;
  height: 16.5rem;
  min-height: 16.5rem; }

.lcars-vu-5 {
  width: 15rem; }

.lcars-vu-5-half {
  width: 16.5rem; }

.lcars-u-8-6 {
  width: 60rem;
  min-width: 60rem;
  height: 18rem;
  min-height: 18rem; }

.lcars-u-8-6-half {
  width: 60rem;
  min-width: 60rem;
  height: 19.5rem;
  min-height: 19.5rem; }

.lcars-vu-6 {
  width: 18rem; }

.lcars-vu-6-half {
  width: 19.5rem; }

.lcars-u-8-7 {
  width: 60rem;
  min-width: 60rem;
  height: 21rem;
  min-height: 21rem; }

.lcars-u-8-7-half {
  width: 60rem;
  min-width: 60rem;
  height: 22.5rem;
  min-height: 22.5rem; }

.lcars-vu-7 {
  width: 21rem; }

.lcars-vu-7-half {
  width: 22.5rem; }

.lcars-u-8-8 {
  width: 60rem;
  min-width: 60rem;
  height: 24rem;
  min-height: 24rem; }

.lcars-u-8-8-half {
  width: 60rem;
  min-width: 60rem;
  height: 25.5rem;
  min-height: 25.5rem; }

.lcars-vu-8 {
  width: 24rem; }

.lcars-vu-8-half {
  width: 25.5rem; }

.lcars-u-8 {
  width: 60rem;
  min-width: 60rem; }

.lcars-u-8-half {
  width: 63.75rem;
  min-width: 63.75rem; }

.lcars-u-9-1 {
  width: 67.5rem;
  min-width: 67.5rem;
  height: 3rem;
  min-height: 3rem; }

.lcars-u-9-1-half {
  width: 67.5rem;
  min-width: 67.5rem;
  height: 4.5rem;
  min-height: 4.5rem; }

.lcars-vu-1 {
  width: 3rem; }

.lcars-vu-1-half {
  width: 4.5rem; }

.lcars-u-9-2 {
  width: 67.5rem;
  min-width: 67.5rem;
  height: 6rem;
  min-height: 6rem; }

.lcars-u-9-2-half {
  width: 67.5rem;
  min-width: 67.5rem;
  height: 7.5rem;
  min-height: 7.5rem; }

.lcars-vu-2 {
  width: 6rem; }

.lcars-vu-2-half {
  width: 7.5rem; }

.lcars-u-9-3 {
  width: 67.5rem;
  min-width: 67.5rem;
  height: 9rem;
  min-height: 9rem; }

.lcars-u-9-3-half {
  width: 67.5rem;
  min-width: 67.5rem;
  height: 10.5rem;
  min-height: 10.5rem; }

.lcars-vu-3 {
  width: 9rem; }

.lcars-vu-3-half {
  width: 10.5rem; }

.lcars-u-9-4 {
  width: 67.5rem;
  min-width: 67.5rem;
  height: 12rem;
  min-height: 12rem; }

.lcars-u-9-4-half {
  width: 67.5rem;
  min-width: 67.5rem;
  height: 13.5rem;
  min-height: 13.5rem; }

.lcars-vu-4 {
  width: 12rem; }

.lcars-vu-4-half {
  width: 13.5rem; }

.lcars-u-9-5 {
  width: 67.5rem;
  min-width: 67.5rem;
  height: 15rem;
  min-height: 15rem; }

.lcars-u-9-5-half {
  width: 67.5rem;
  min-width: 67.5rem;
  height: 16.5rem;
  min-height: 16.5rem; }

.lcars-vu-5 {
  width: 15rem; }

.lcars-vu-5-half {
  width: 16.5rem; }

.lcars-u-9-6 {
  width: 67.5rem;
  min-width: 67.5rem;
  height: 18rem;
  min-height: 18rem; }

.lcars-u-9-6-half {
  width: 67.5rem;
  min-width: 67.5rem;
  height: 19.5rem;
  min-height: 19.5rem; }

.lcars-vu-6 {
  width: 18rem; }

.lcars-vu-6-half {
  width: 19.5rem; }

.lcars-u-9-7 {
  width: 67.5rem;
  min-width: 67.5rem;
  height: 21rem;
  min-height: 21rem; }

.lcars-u-9-7-half {
  width: 67.5rem;
  min-width: 67.5rem;
  height: 22.5rem;
  min-height: 22.5rem; }

.lcars-vu-7 {
  width: 21rem; }

.lcars-vu-7-half {
  width: 22.5rem; }

.lcars-u-9-8 {
  width: 67.5rem;
  min-width: 67.5rem;
  height: 24rem;
  min-height: 24rem; }

.lcars-u-9-8-half {
  width: 67.5rem;
  min-width: 67.5rem;
  height: 25.5rem;
  min-height: 25.5rem; }

.lcars-vu-8 {
  width: 24rem; }

.lcars-vu-8-half {
  width: 25.5rem; }

.lcars-u-9 {
  width: 67.5rem;
  min-width: 67.5rem; }

.lcars-u-9-half {
  width: 71.25rem;
  min-width: 71.25rem; }

.lcars-u-10-1 {
  width: 75rem;
  min-width: 75rem;
  height: 3rem;
  min-height: 3rem; }

.lcars-u-10-1-half {
  width: 75rem;
  min-width: 75rem;
  height: 4.5rem;
  min-height: 4.5rem; }

.lcars-vu-1 {
  width: 3rem; }

.lcars-vu-1-half {
  width: 4.5rem; }

.lcars-u-10-2 {
  width: 75rem;
  min-width: 75rem;
  height: 6rem;
  min-height: 6rem; }

.lcars-u-10-2-half {
  width: 75rem;
  min-width: 75rem;
  height: 7.5rem;
  min-height: 7.5rem; }

.lcars-vu-2 {
  width: 6rem; }

.lcars-vu-2-half {
  width: 7.5rem; }

.lcars-u-10-3 {
  width: 75rem;
  min-width: 75rem;
  height: 9rem;
  min-height: 9rem; }

.lcars-u-10-3-half {
  width: 75rem;
  min-width: 75rem;
  height: 10.5rem;
  min-height: 10.5rem; }

.lcars-vu-3 {
  width: 9rem; }

.lcars-vu-3-half {
  width: 10.5rem; }

.lcars-u-10-4 {
  width: 75rem;
  min-width: 75rem;
  height: 12rem;
  min-height: 12rem; }

.lcars-u-10-4-half {
  width: 75rem;
  min-width: 75rem;
  height: 13.5rem;
  min-height: 13.5rem; }

.lcars-vu-4 {
  width: 12rem; }

.lcars-vu-4-half {
  width: 13.5rem; }

.lcars-u-10-5 {
  width: 75rem;
  min-width: 75rem;
  height: 15rem;
  min-height: 15rem; }

.lcars-u-10-5-half {
  width: 75rem;
  min-width: 75rem;
  height: 16.5rem;
  min-height: 16.5rem; }

.lcars-vu-5 {
  width: 15rem; }

.lcars-vu-5-half {
  width: 16.5rem; }

.lcars-u-10-6 {
  width: 75rem;
  min-width: 75rem;
  height: 18rem;
  min-height: 18rem; }

.lcars-u-10-6-half {
  width: 75rem;
  min-width: 75rem;
  height: 19.5rem;
  min-height: 19.5rem; }

.lcars-vu-6 {
  width: 18rem; }

.lcars-vu-6-half {
  width: 19.5rem; }

.lcars-u-10-7 {
  width: 75rem;
  min-width: 75rem;
  height: 21rem;
  min-height: 21rem; }

.lcars-u-10-7-half {
  width: 75rem;
  min-width: 75rem;
  height: 22.5rem;
  min-height: 22.5rem; }

.lcars-vu-7 {
  width: 21rem; }

.lcars-vu-7-half {
  width: 22.5rem; }

.lcars-u-10-8 {
  width: 75rem;
  min-width: 75rem;
  height: 24rem;
  min-height: 24rem; }

.lcars-u-10-8-half {
  width: 75rem;
  min-width: 75rem;
  height: 25.5rem;
  min-height: 25.5rem; }

.lcars-vu-8 {
  width: 24rem; }

.lcars-vu-8-half {
  width: 25.5rem; }

.lcars-u-10 {
  width: 75rem;
  min-width: 75rem; }

.lcars-u-10-half {
  width: 78.75rem;
  min-width: 78.75rem; }

.lcars-u-11-1 {
  width: 82.5rem;
  min-width: 82.5rem;
  height: 3rem;
  min-height: 3rem; }

.lcars-u-11-1-half {
  width: 82.5rem;
  min-width: 82.5rem;
  height: 4.5rem;
  min-height: 4.5rem; }

.lcars-vu-1 {
  width: 3rem; }

.lcars-vu-1-half {
  width: 4.5rem; }

.lcars-u-11-2 {
  width: 82.5rem;
  min-width: 82.5rem;
  height: 6rem;
  min-height: 6rem; }

.lcars-u-11-2-half {
  width: 82.5rem;
  min-width: 82.5rem;
  height: 7.5rem;
  min-height: 7.5rem; }

.lcars-vu-2 {
  width: 6rem; }

.lcars-vu-2-half {
  width: 7.5rem; }

.lcars-u-11-3 {
  width: 82.5rem;
  min-width: 82.5rem;
  height: 9rem;
  min-height: 9rem; }

.lcars-u-11-3-half {
  width: 82.5rem;
  min-width: 82.5rem;
  height: 10.5rem;
  min-height: 10.5rem; }

.lcars-vu-3 {
  width: 9rem; }

.lcars-vu-3-half {
  width: 10.5rem; }

.lcars-u-11-4 {
  width: 82.5rem;
  min-width: 82.5rem;
  height: 12rem;
  min-height: 12rem; }

.lcars-u-11-4-half {
  width: 82.5rem;
  min-width: 82.5rem;
  height: 13.5rem;
  min-height: 13.5rem; }

.lcars-vu-4 {
  width: 12rem; }

.lcars-vu-4-half {
  width: 13.5rem; }

.lcars-u-11-5 {
  width: 82.5rem;
  min-width: 82.5rem;
  height: 15rem;
  min-height: 15rem; }

.lcars-u-11-5-half {
  width: 82.5rem;
  min-width: 82.5rem;
  height: 16.5rem;
  min-height: 16.5rem; }

.lcars-vu-5 {
  width: 15rem; }

.lcars-vu-5-half {
  width: 16.5rem; }

.lcars-u-11-6 {
  width: 82.5rem;
  min-width: 82.5rem;
  height: 18rem;
  min-height: 18rem; }

.lcars-u-11-6-half {
  width: 82.5rem;
  min-width: 82.5rem;
  height: 19.5rem;
  min-height: 19.5rem; }

.lcars-vu-6 {
  width: 18rem; }

.lcars-vu-6-half {
  width: 19.5rem; }

.lcars-u-11-7 {
  width: 82.5rem;
  min-width: 82.5rem;
  height: 21rem;
  min-height: 21rem; }

.lcars-u-11-7-half {
  width: 82.5rem;
  min-width: 82.5rem;
  height: 22.5rem;
  min-height: 22.5rem; }

.lcars-vu-7 {
  width: 21rem; }

.lcars-vu-7-half {
  width: 22.5rem; }

.lcars-u-11-8 {
  width: 82.5rem;
  min-width: 82.5rem;
  height: 24rem;
  min-height: 24rem; }

.lcars-u-11-8-half {
  width: 82.5rem;
  min-width: 82.5rem;
  height: 25.5rem;
  min-height: 25.5rem; }

.lcars-vu-8 {
  width: 24rem; }

.lcars-vu-8-half {
  width: 25.5rem; }

.lcars-u-11 {
  width: 82.5rem;
  min-width: 82.5rem; }

.lcars-u-11-half {
  width: 86.25rem;
  min-width: 86.25rem; }

.lcars-u-12-1 {
  width: 90rem;
  min-width: 90rem;
  height: 3rem;
  min-height: 3rem; }

.lcars-u-12-1-half {
  width: 90rem;
  min-width: 90rem;
  height: 4.5rem;
  min-height: 4.5rem; }

.lcars-vu-1 {
  width: 3rem; }

.lcars-vu-1-half {
  width: 4.5rem; }

.lcars-u-12-2 {
  width: 90rem;
  min-width: 90rem;
  height: 6rem;
  min-height: 6rem; }

.lcars-u-12-2-half {
  width: 90rem;
  min-width: 90rem;
  height: 7.5rem;
  min-height: 7.5rem; }

.lcars-vu-2 {
  width: 6rem; }

.lcars-vu-2-half {
  width: 7.5rem; }

.lcars-u-12-3 {
  width: 90rem;
  min-width: 90rem;
  height: 9rem;
  min-height: 9rem; }

.lcars-u-12-3-half {
  width: 90rem;
  min-width: 90rem;
  height: 10.5rem;
  min-height: 10.5rem; }

.lcars-vu-3 {
  width: 9rem; }

.lcars-vu-3-half {
  width: 10.5rem; }

.lcars-u-12-4 {
  width: 90rem;
  min-width: 90rem;
  height: 12rem;
  min-height: 12rem; }

.lcars-u-12-4-half {
  width: 90rem;
  min-width: 90rem;
  height: 13.5rem;
  min-height: 13.5rem; }

.lcars-vu-4 {
  width: 12rem; }

.lcars-vu-4-half {
  width: 13.5rem; }

.lcars-u-12-5 {
  width: 90rem;
  min-width: 90rem;
  height: 15rem;
  min-height: 15rem; }

.lcars-u-12-5-half {
  width: 90rem;
  min-width: 90rem;
  height: 16.5rem;
  min-height: 16.5rem; }

.lcars-vu-5 {
  width: 15rem; }

.lcars-vu-5-half {
  width: 16.5rem; }

.lcars-u-12-6 {
  width: 90rem;
  min-width: 90rem;
  height: 18rem;
  min-height: 18rem; }

.lcars-u-12-6-half {
  width: 90rem;
  min-width: 90rem;
  height: 19.5rem;
  min-height: 19.5rem; }

.lcars-vu-6 {
  width: 18rem; }

.lcars-vu-6-half {
  width: 19.5rem; }

.lcars-u-12-7 {
  width: 90rem;
  min-width: 90rem;
  height: 21rem;
  min-height: 21rem; }

.lcars-u-12-7-half {
  width: 90rem;
  min-width: 90rem;
  height: 22.5rem;
  min-height: 22.5rem; }

.lcars-vu-7 {
  width: 21rem; }

.lcars-vu-7-half {
  width: 22.5rem; }

.lcars-u-12-8 {
  width: 90rem;
  min-width: 90rem;
  height: 24rem;
  min-height: 24rem; }

.lcars-u-12-8-half {
  width: 90rem;
  min-width: 90rem;
  height: 25.5rem;
  min-height: 25.5rem; }

.lcars-vu-8 {
  width: 24rem; }

.lcars-vu-8-half {
  width: 25.5rem; }

.lcars-u-12 {
  width: 90rem;
  min-width: 90rem; }

.lcars-u-12-half {
  width: 93.75rem;
  min-width: 93.75rem; }

.lcars-u-13-1 {
  width: 97.5rem;
  min-width: 97.5rem;
  height: 3rem;
  min-height: 3rem; }

.lcars-u-13-1-half {
  width: 97.5rem;
  min-width: 97.5rem;
  height: 4.5rem;
  min-height: 4.5rem; }

.lcars-vu-1 {
  width: 3rem; }

.lcars-vu-1-half {
  width: 4.5rem; }

.lcars-u-13-2 {
  width: 97.5rem;
  min-width: 97.5rem;
  height: 6rem;
  min-height: 6rem; }

.lcars-u-13-2-half {
  width: 97.5rem;
  min-width: 97.5rem;
  height: 7.5rem;
  min-height: 7.5rem; }

.lcars-vu-2 {
  width: 6rem; }

.lcars-vu-2-half {
  width: 7.5rem; }

.lcars-u-13-3 {
  width: 97.5rem;
  min-width: 97.5rem;
  height: 9rem;
  min-height: 9rem; }

.lcars-u-13-3-half {
  width: 97.5rem;
  min-width: 97.5rem;
  height: 10.5rem;
  min-height: 10.5rem; }

.lcars-vu-3 {
  width: 9rem; }

.lcars-vu-3-half {
  width: 10.5rem; }

.lcars-u-13-4 {
  width: 97.5rem;
  min-width: 97.5rem;
  height: 12rem;
  min-height: 12rem; }

.lcars-u-13-4-half {
  width: 97.5rem;
  min-width: 97.5rem;
  height: 13.5rem;
  min-height: 13.5rem; }

.lcars-vu-4 {
  width: 12rem; }

.lcars-vu-4-half {
  width: 13.5rem; }

.lcars-u-13-5 {
  width: 97.5rem;
  min-width: 97.5rem;
  height: 15rem;
  min-height: 15rem; }

.lcars-u-13-5-half {
  width: 97.5rem;
  min-width: 97.5rem;
  height: 16.5rem;
  min-height: 16.5rem; }

.lcars-vu-5 {
  width: 15rem; }

.lcars-vu-5-half {
  width: 16.5rem; }

.lcars-u-13-6 {
  width: 97.5rem;
  min-width: 97.5rem;
  height: 18rem;
  min-height: 18rem; }

.lcars-u-13-6-half {
  width: 97.5rem;
  min-width: 97.5rem;
  height: 19.5rem;
  min-height: 19.5rem; }

.lcars-vu-6 {
  width: 18rem; }

.lcars-vu-6-half {
  width: 19.5rem; }

.lcars-u-13-7 {
  width: 97.5rem;
  min-width: 97.5rem;
  height: 21rem;
  min-height: 21rem; }

.lcars-u-13-7-half {
  width: 97.5rem;
  min-width: 97.5rem;
  height: 22.5rem;
  min-height: 22.5rem; }

.lcars-vu-7 {
  width: 21rem; }

.lcars-vu-7-half {
  width: 22.5rem; }

.lcars-u-13-8 {
  width: 97.5rem;
  min-width: 97.5rem;
  height: 24rem;
  min-height: 24rem; }

.lcars-u-13-8-half {
  width: 97.5rem;
  min-width: 97.5rem;
  height: 25.5rem;
  min-height: 25.5rem; }

.lcars-vu-8 {
  width: 24rem; }

.lcars-vu-8-half {
  width: 25.5rem; }

.lcars-u-13 {
  width: 97.5rem;
  min-width: 97.5rem; }

.lcars-u-13-half {
  width: 101.25rem;
  min-width: 101.25rem; }

.lcars-u-14-1 {
  width: 105rem;
  min-width: 105rem;
  height: 3rem;
  min-height: 3rem; }

.lcars-u-14-1-half {
  width: 105rem;
  min-width: 105rem;
  height: 4.5rem;
  min-height: 4.5rem; }

.lcars-vu-1 {
  width: 3rem; }

.lcars-vu-1-half {
  width: 4.5rem; }

.lcars-u-14-2 {
  width: 105rem;
  min-width: 105rem;
  height: 6rem;
  min-height: 6rem; }

.lcars-u-14-2-half {
  width: 105rem;
  min-width: 105rem;
  height: 7.5rem;
  min-height: 7.5rem; }

.lcars-vu-2 {
  width: 6rem; }

.lcars-vu-2-half {
  width: 7.5rem; }

.lcars-u-14-3 {
  width: 105rem;
  min-width: 105rem;
  height: 9rem;
  min-height: 9rem; }

.lcars-u-14-3-half {
  width: 105rem;
  min-width: 105rem;
  height: 10.5rem;
  min-height: 10.5rem; }

.lcars-vu-3 {
  width: 9rem; }

.lcars-vu-3-half {
  width: 10.5rem; }

.lcars-u-14-4 {
  width: 105rem;
  min-width: 105rem;
  height: 12rem;
  min-height: 12rem; }

.lcars-u-14-4-half {
  width: 105rem;
  min-width: 105rem;
  height: 13.5rem;
  min-height: 13.5rem; }

.lcars-vu-4 {
  width: 12rem; }

.lcars-vu-4-half {
  width: 13.5rem; }

.lcars-u-14-5 {
  width: 105rem;
  min-width: 105rem;
  height: 15rem;
  min-height: 15rem; }

.lcars-u-14-5-half {
  width: 105rem;
  min-width: 105rem;
  height: 16.5rem;
  min-height: 16.5rem; }

.lcars-vu-5 {
  width: 15rem; }

.lcars-vu-5-half {
  width: 16.5rem; }

.lcars-u-14-6 {
  width: 105rem;
  min-width: 105rem;
  height: 18rem;
  min-height: 18rem; }

.lcars-u-14-6-half {
  width: 105rem;
  min-width: 105rem;
  height: 19.5rem;
  min-height: 19.5rem; }

.lcars-vu-6 {
  width: 18rem; }

.lcars-vu-6-half {
  width: 19.5rem; }

.lcars-u-14-7 {
  width: 105rem;
  min-width: 105rem;
  height: 21rem;
  min-height: 21rem; }

.lcars-u-14-7-half {
  width: 105rem;
  min-width: 105rem;
  height: 22.5rem;
  min-height: 22.5rem; }

.lcars-vu-7 {
  width: 21rem; }

.lcars-vu-7-half {
  width: 22.5rem; }

.lcars-u-14-8 {
  width: 105rem;
  min-width: 105rem;
  height: 24rem;
  min-height: 24rem; }

.lcars-u-14-8-half {
  width: 105rem;
  min-width: 105rem;
  height: 25.5rem;
  min-height: 25.5rem; }

.lcars-vu-8 {
  width: 24rem; }

.lcars-vu-8-half {
  width: 25.5rem; }

.lcars-u-14 {
  width: 105rem;
  min-width: 105rem; }

.lcars-u-14-half {
  width: 108.75rem;
  min-width: 108.75rem; }

.lcars-u-15-1 {
  width: 112.5rem;
  min-width: 112.5rem;
  height: 3rem;
  min-height: 3rem; }

.lcars-u-15-1-half {
  width: 112.5rem;
  min-width: 112.5rem;
  height: 4.5rem;
  min-height: 4.5rem; }

.lcars-vu-1 {
  width: 3rem; }

.lcars-vu-1-half {
  width: 4.5rem; }

.lcars-u-15-2 {
  width: 112.5rem;
  min-width: 112.5rem;
  height: 6rem;
  min-height: 6rem; }

.lcars-u-15-2-half {
  width: 112.5rem;
  min-width: 112.5rem;
  height: 7.5rem;
  min-height: 7.5rem; }

.lcars-vu-2 {
  width: 6rem; }

.lcars-vu-2-half {
  width: 7.5rem; }

.lcars-u-15-3 {
  width: 112.5rem;
  min-width: 112.5rem;
  height: 9rem;
  min-height: 9rem; }

.lcars-u-15-3-half {
  width: 112.5rem;
  min-width: 112.5rem;
  height: 10.5rem;
  min-height: 10.5rem; }

.lcars-vu-3 {
  width: 9rem; }

.lcars-vu-3-half {
  width: 10.5rem; }

.lcars-u-15-4 {
  width: 112.5rem;
  min-width: 112.5rem;
  height: 12rem;
  min-height: 12rem; }

.lcars-u-15-4-half {
  width: 112.5rem;
  min-width: 112.5rem;
  height: 13.5rem;
  min-height: 13.5rem; }

.lcars-vu-4 {
  width: 12rem; }

.lcars-vu-4-half {
  width: 13.5rem; }

.lcars-u-15-5 {
  width: 112.5rem;
  min-width: 112.5rem;
  height: 15rem;
  min-height: 15rem; }

.lcars-u-15-5-half {
  width: 112.5rem;
  min-width: 112.5rem;
  height: 16.5rem;
  min-height: 16.5rem; }

.lcars-vu-5 {
  width: 15rem; }

.lcars-vu-5-half {
  width: 16.5rem; }

.lcars-u-15-6 {
  width: 112.5rem;
  min-width: 112.5rem;
  height: 18rem;
  min-height: 18rem; }

.lcars-u-15-6-half {
  width: 112.5rem;
  min-width: 112.5rem;
  height: 19.5rem;
  min-height: 19.5rem; }

.lcars-vu-6 {
  width: 18rem; }

.lcars-vu-6-half {
  width: 19.5rem; }

.lcars-u-15-7 {
  width: 112.5rem;
  min-width: 112.5rem;
  height: 21rem;
  min-height: 21rem; }

.lcars-u-15-7-half {
  width: 112.5rem;
  min-width: 112.5rem;
  height: 22.5rem;
  min-height: 22.5rem; }

.lcars-vu-7 {
  width: 21rem; }

.lcars-vu-7-half {
  width: 22.5rem; }

.lcars-u-15-8 {
  width: 112.5rem;
  min-width: 112.5rem;
  height: 24rem;
  min-height: 24rem; }

.lcars-u-15-8-half {
  width: 112.5rem;
  min-width: 112.5rem;
  height: 25.5rem;
  min-height: 25.5rem; }

.lcars-vu-8 {
  width: 24rem; }

.lcars-vu-8-half {
  width: 25.5rem; }

.lcars-u-15 {
  width: 112.5rem;
  min-width: 112.5rem; }

.lcars-u-15-half {
  width: 116.25rem;
  min-width: 116.25rem; }

.lcars-u-16-1 {
  width: 120rem;
  min-width: 120rem;
  height: 3rem;
  min-height: 3rem; }

.lcars-u-16-1-half {
  width: 120rem;
  min-width: 120rem;
  height: 4.5rem;
  min-height: 4.5rem; }

.lcars-vu-1 {
  width: 3rem; }

.lcars-vu-1-half {
  width: 4.5rem; }

.lcars-u-16-2 {
  width: 120rem;
  min-width: 120rem;
  height: 6rem;
  min-height: 6rem; }

.lcars-u-16-2-half {
  width: 120rem;
  min-width: 120rem;
  height: 7.5rem;
  min-height: 7.5rem; }

.lcars-vu-2 {
  width: 6rem; }

.lcars-vu-2-half {
  width: 7.5rem; }

.lcars-u-16-3 {
  width: 120rem;
  min-width: 120rem;
  height: 9rem;
  min-height: 9rem; }

.lcars-u-16-3-half {
  width: 120rem;
  min-width: 120rem;
  height: 10.5rem;
  min-height: 10.5rem; }

.lcars-vu-3 {
  width: 9rem; }

.lcars-vu-3-half {
  width: 10.5rem; }

.lcars-u-16-4 {
  width: 120rem;
  min-width: 120rem;
  height: 12rem;
  min-height: 12rem; }

.lcars-u-16-4-half {
  width: 120rem;
  min-width: 120rem;
  height: 13.5rem;
  min-height: 13.5rem; }

.lcars-vu-4 {
  width: 12rem; }

.lcars-vu-4-half {
  width: 13.5rem; }

.lcars-u-16-5 {
  width: 120rem;
  min-width: 120rem;
  height: 15rem;
  min-height: 15rem; }

.lcars-u-16-5-half {
  width: 120rem;
  min-width: 120rem;
  height: 16.5rem;
  min-height: 16.5rem; }

.lcars-vu-5 {
  width: 15rem; }

.lcars-vu-5-half {
  width: 16.5rem; }

.lcars-u-16-6 {
  width: 120rem;
  min-width: 120rem;
  height: 18rem;
  min-height: 18rem; }

.lcars-u-16-6-half {
  width: 120rem;
  min-width: 120rem;
  height: 19.5rem;
  min-height: 19.5rem; }

.lcars-vu-6 {
  width: 18rem; }

.lcars-vu-6-half {
  width: 19.5rem; }

.lcars-u-16-7 {
  width: 120rem;
  min-width: 120rem;
  height: 21rem;
  min-height: 21rem; }

.lcars-u-16-7-half {
  width: 120rem;
  min-width: 120rem;
  height: 22.5rem;
  min-height: 22.5rem; }

.lcars-vu-7 {
  width: 21rem; }

.lcars-vu-7-half {
  width: 22.5rem; }

.lcars-u-16-8 {
  width: 120rem;
  min-width: 120rem;
  height: 24rem;
  min-height: 24rem; }

.lcars-u-16-8-half {
  width: 120rem;
  min-width: 120rem;
  height: 25.5rem;
  min-height: 25.5rem; }

.lcars-vu-8 {
  width: 24rem; }

.lcars-vu-8-half {
  width: 25.5rem; }

.lcars-u-16 {
  width: 120rem;
  min-width: 120rem; }

.lcars-u-16-half {
  width: 123.75rem;
  min-width: 123.75rem; }

.lcars-u-0-half {
  width: 3.75rem;
  min-width: 3.75rem; }

.overlay object {
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 0px;
  margin: 0px;
  overflow: hidden; }

.center {
  text-align: center; }

.hidden {
  display: none; }

.widget {
  position: relative;
  width: 100%;
  height: 100%; }

.alert-active:not(.alert-cancelled) {
  animation: opacity 2s ease-in-out infinite;
  opacity: 1; }

.alert-active.alert-cancelled {
  color: orange; }

.widget-notification.widget-indicator-on span {
  padding: 3px;
  background-color: orange;
  animation: opacity 2s ease-in-out infinite;
  opacity: 1; }

@keyframes opacity {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.widget-table {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 98vh; }

.widget-table-cell {
  display: table-cell;
  position: relative; }

.popup-parent .popup {
  display: none; }

.popup-parent:hover .popup {
  display: block; }

.popup {
  position: absolute;
  z-index: 10; }

.red {
  background: #ff8f8f; }

.blue {
  background: #8f8fff; }

.grey {
  background: grey; }

.white {
  background: #afaf8f; }

.tank-bar {
  min-height: 300px;
  height: 300px; }

.widget-card {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  font-weight: bold;
  text-align: center;
  pointer-events: none; }

.widget-text {
  display: table;
  width: 100%;
  height: 100%;
  vertical-align: middle; }

.widget-text-cell {
  display: table-cell;
  width: 100%;
  text-align: center;
  vertical-align: middle; }

.widget-text.widget-bottom {
  display: table;
  width: 100%;
  height: 100%;
  vertical-align: middle; }

.overlay-content .widget-text-cell span::before {
  content: "\A";
  white-space: pre-line; }

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center; }

#overlay-container {
  display: table;
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%; }

#overlay-chart {
  width: 100vw;
  min-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  position: relative; }

#overlay-cancel {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: red;
  z-index: 20; }

.starboard::after {
  content: "&rarr;"; }

.theme-active-alert, .theme-active-alarm, .theme-active-alarm {
  animation: blinker 1s linear infinite; }

.theme-active-alarm {
  color: red; }

.widget-scroller-cell {
  content-align: bottom;
  position: relative; }

.widget-scroller-bar {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100%;
  border-top: khaki solid 1px; }

.widget-bg-alarm {
  animation: redflash 1s linear infinite; }

.widget-digital {
  position: relative;
  z-index: 2; }

.widget-scroller {
  position: absolute;
  box-sizing: border-box;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none; }

.widget-indicator {
  background-color: gray;
  width: 10px;
  height: 5px; }

.widget-hgauge-label .widget-hgauge-grid {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%; }

.widget-hgauge-label {
  height: inherit; }

.widget-scale.widget-horizontal {
  position: relative;
  border-left: rgba(255, 255, 255, 0.3) solid 1px;
  border-right: rgba(255, 255, 255, 0.3) solid 1px;
  height: 33%; }

.widget-scale.widget-horizontal .widget-scale-tick {
  position: absolute;
  box-sizing: border-box;
  left: 0px;
  bottom: 0px;
  border-right: rgba(255, 255, 255, 0.3) solid 1px;
  height: 100%; }

.widget-scale.widget-horizontal .widget-scale-tick:after {
  float: right;
  opacity: 0.3;
  content: attr(data-tick-value);
  transform: translate(50%, 110%); }

.relay .widget-indicator-on {
  background-color: orange !important; }

.switch .widget-indicator-on {
  background-color: yellow !important; }

.widget-cursor {
  position: absolute;
  pointer-events: none;
  box-sizing: border-box; }

.widget-cursor.widget-vertical {
  bottom: 0;
  left: 5%;
  width: 90%; }

.widget-cursor.widget-horizontal {
  bottom: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  border-right: 2px solid orange; }

.w3-theme-l5 {
  color: #000;
  background-color: #f4faf4; }

.w3-theme-l4 {
  color: #000;
  background-color: #dbefdc; }

.w3-theme-l3, .alert-editor input[type=number] {
  color: #000;
  background-color: #b7dfb8; }

.w3-theme-l2 {
  color: #000;
  background-color: #93cf95; }

.w3-theme-l1, .theme-active, .lcars-bar, .lcars-element .lcars-element-decorator, .lcars-text-box,
a.lcars-text-box, .alert-editor .table-row-a, .alert-editor .table-row-b {
  color: #000;
  background-color: #6ec071; }

.w3-theme-d1, .theme-passive, .lcars-elbow, .lcars-bar:empty, .lcars-bar.left-end.decorated:after, .lcars-bar.right-end.decorated:after, .lcars-element {
  color: #fff;
  background-color: #459c48; }

.w3-theme-d2 {
  color: #fff;
  background-color: #3d8b40; }

.w3-theme-d3 {
  color: #fff;
  background-color: #357a38; }

.w3-theme-d4 {
  color: #fff;
  background-color: #2e6830; }

.w3-theme-d5 {
  color: #fff;
  background-color: #265728; }

.w3-theme-light {
  color: #000;
  background-color: #f4faf4; }

.w3-theme-dark, .alert-editor {
  color: #fff;
  background-color: #265728; }

.w3-theme-action {
  color: #fff;
  background-color: #265728; }

.w3-theme {
  color: #fff;
  background-color: #4caf50; }

.w3-text-theme {
  color: #4caf50; }

.w3-border-theme {
  border-color: #4caf50; }

.w3-hover-theme:hover, div[onclick]:hover {
  color: #fff;
  background-color: #4caf50; }

.w3-hover-text-theme:hover {
  color: #4caf50; }

.w3-hover-border-theme:hover {
  border-color: #4caf50; }

.w3_alert {
  color: #000;
  background-color: #f00; }

.alert-editor.table {
  display: table;
  table-layout: auto;
  width: 100%; }

.alert-editor .table-head {
  display: table-header-group;
  width: 100%; }

.alert-editor .table-head .table-cell {
  font-weight: bold;
  text-align: left; }

.alert-editor .table-body {
  display: table-row-group;
  width: 100%; }

.alert-editor .table-row {
  display: table-row; }

.alert-editor .table-cell {
  display: table-cell;
  font-weight: bold;
  height: 22px;
  vertical-align: middle; }

.alert-editor .alert-active {
  background-color: orange !important; }

.alert-editor input[type=number] {
  width: 8em;
  border: 0;
  font-weight: bold; }

.alert-editor input[type=radio] {
  margin: 0px 15px 0px 3px; }

/*# sourceMappingURL=style.css.map */
